.DS_Store
.idea

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
bower_components
ts-definitions

config/runtime.json
public/lib/**
lib
lib/**/*.d.ts
lib/**/*.map
lib/**/*.js
test/**/*.js
*.min.css
*.min.js
*.min.map

coverage.html
TestResult.xml

