.DS_Store
.idea

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules/
bower_components/
ts-definitions/
d.ts/

config/runtime.json
config/default.js
public/js/
lib
lib/**/*.d.ts
lib/**/*.map
lib/**/*.js
test/*.js
test/**/*.js

coverage.html
TestResult.xml

